// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 60px; 
    text-align: center;
    padding-top: 60px;
}

.navbar-nav li{
    display:block;
    padding-left: 7px;
    padding-right: 10px;
}

.navbar-nav li:hover{
    text-decoration: none!important;
    background-color: white!important;
    font-size: 20px;
    font-weight: 450;
}

.img-fluid{
    padding-top: 30px;
}

.EditHeader h1{
    padding-top: 50px;
}

.landing_page_header h2{
    padding-top: 50px;
}
.carousel-caption{   
    top:0;
    bottom:auto;
}
.carousel-inner img{
    width: 100vw;

}

.Orderheader h2{
    padding-top: 50px;
}

.Orderheader1 h1{
    padding-top: 50px;
}

.search_box{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.search_button{
    height: 30px;
    border-radius: 10px;
    background-color: green;
    color:white;
}
.search_button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.form-group p{
    width: 50%;
}

.ContactTitle{
    text-align: center;
}

.search_bar p{
    margin-left: 25%;
    margin-right: 25%;
}

.search_bar h5{
    margin-left: 25%;    
}

@media only screen and (max-width: 600px) {
    .form-group p {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    .search_bar h5{
        margin-left:10%;
    }
  }

.panel-body p{
    padding-top: 50px;
    text-align: center;
    font-size: 2rem;
}

.inbox-sf-add-btn{
    font-size: 18px;
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 170px;
    height: 40px;
   
}

.inbox-sf-add-btn:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

#notice{
    padding-top: 25px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: red;
}

// styling for devise sign in page 
.devise_login{
    border-radius: 10px;
    
    height: 30px;
}
.devise_login:hover{
    background-color: black;
    color: white;
}

.email1{
    height: 30px;
    border-radius: 10px;
}

.psw1{
    height: 30px;
    border-radius: 10px;
}

// styling for sign up page in devise
.psw2{
    height: 30px;
    border-radius: 10px;
}

h1{
    padding-top: 50px;
}

h2{
    padding-top: 50px;
}

// styling of the product show page 
.product_show{
    padding-top: 50px;
    padding-left: 10%;
    
}
.comment_body{
    padding-top: 20px;
}